{{! Task 1 }}

{{!-- <h1>{{city}}</h1>
<p>{{street}}</p>
<p>{{number}}</p> --}}

{{! <h1>London</h1>
<p>Baker Street</p>
<p>221B</p> }}

{{! Task 2 }}

{{!-- <h3>Students</h3>
<ul>
  {{#each students}}
    <li>{{firstName}} {{lastName}}</li>
  {{/each}}
</ul>
<h3>Courses</h3>
<ul>
  {{#each courses}}
    <li>{{this}}</li>
  {{/each}}
</ul> --}}

{{! Task 3 }}

{{!-- {{#each this}}
  <li>{{firstName}} {{lastName}}</li>
{{/each}} --}}

{{! Task 4 }}

<h3>Animals</h3>
<ul>
  {{#each animals}}
    <li>
      <h4>{{name}}</h4>
      {{#if noise}}
        <p>Says: {{noise}}</p>
      {{/if}}
      {{#if isKind}}
        <p>Kind animal ❤️</p>
      {{else}}
        <p>Stay away from this animal! 😠</p>
      {{/if}}
    </li>
  {{/each}}
</ul>